{% extends 'base.html' %}

{% block conteudo %}


    <h1>Detalhe da cidade:</h1>

    <p>Nome: {{ cidade.nome }}</p>
    <p>Estado: {{ cidade.estado }}</p>
    <p>País: {{ cidade.estado.pais }}</p>
    <p>É capital?: {{ cidade.capital }}</p>
    <p>Descrição: {{ cidade.descricao }}</p>

    <div>
        <a class="btn btn-danger" href="{% url 'cidades-remove' cidade.id %}">Apagar Registro</a>
        <a class="btn btn-primary" href="{% url 'cidades-editar' cidade.id %}">Atualizar Registro</a>
    </div>

{% endblock %}